h1 {
  text-align: center;
  color: #FF66FF;
  font: 3em Futura, 'Century Gothic', AppleGothic, sans-serif;
  text-shadow: -1px 0 #FFFFE6, 0 1px #FFFFE6, 1px 0 #FFFFE6, 0 -1px #FFFFE6;
}

.board {
  margin: 0 auto;
  position: relative;
}

.token {
  display: none;
  height: 70px;
  position: absolute;
}

.place-token{
  margin: 5px;
  font: 0.8em Futura, 'Century Gothic', AppleGothic, sans-serif;
  background-color: #FF66FF;
  text-decoration: none;
  border-radius: 10px;
  color: #FFFFE6;
}

body {
  background-color: #F6F6F6;
}

/*  ROW 1  */

#red-05 {
  bottom: 3.15em;
  left: 17px;
}

#red-15 {
  bottom: 3.15em;
  left: 116px;
}

#red-25 {
  bottom: 3.15em;
  left: 215px;
}

#red-35 {
  bottom: 3.15em;
  left: 314px;
}

#red-45 {
  bottom: 3.15em;
  left: 413px;
}

#red-55 {
  bottom: 3.15em;
  left: 512px;
}

#red-65 {
  bottom: 3.15em;
  left: 611px;
}

#black-05 {
  bottom: 3.15em;
  left: 17px;
}

#black-15 {
  bottom: 3.15em;
  left: 116px;
}

#black-25 {
  bottom: 3.15em;
  left: 215px;
}

#black-35 {
  bottom: 3.15em;
  left: 314px;
}

#black-45 {
  bottom: 3.15em;
  left: 413px;
}

#black-55 {
  bottom: 3.15em;
  left: 512px;
}

#black-65 {
  bottom: 3.15em;
  left: 611px;
}

/*  END ROW  */
#column1{
 border: black solid 1px;

}

#column2{
 border: black solid 1px;
}
